/* title: css
by: Abe Kowitz
class: Visual Frameworks 1207
*/
html {
	max-width: 650px;
	padding:10px;
	background-color:black;
	background-image: url("https://sphotos-a.xx.fbcdn.net/hphotos-snc6/269717_10150254162933977_3252859_n.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	margin-left: auto;
	margin-right: auto;

}

body {
	background-color:white;
	padding: 10px;
	border-radius: 30px;
	box-shadow: -10px 10px 5px gray;

}
 
h1 {
	max-width: 400px;
	margin: 5px 10px;
	border: 1px solid red;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-family: arial;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	letter-spacing: 12px;
	text-align: center;
	background-image: url("https://lh5.googleusercontent.com/-ZkCpSmi8ntU/UABKtqN3bII/AAAAAAAAAP8/fgGzNSyd0Mk/s0-d/Wailua%2BRainbows.jpg");
	background-attachment: scroll;
	background-size: 125% 100%;
	box-shadow: -5px 5px 5px gray;

}

h2 {
	margin: 10px 5px;
	border: 1px solid red;
	padding: 10px;
	font-variant: small-caps;
	font-size: 14px;
	background: #0099ff;

}

li {
	margin: 10px 15px;
	padding: 5px;
	font-family: "Lucida Grande";
	line-height: 1.5em;
	background-color: white;
	list-style-type: none;

}

legend {
	font-family: tahoma;
	color: red;
	
}