/* title: css
by: Abe Kowitz
class: Visual Frameworks 1207
*/
html {
	padding:10px;
	background-color:gray;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin-left: auto;
	margin-right: auto;

}

body {
	background-color:white;
	padding: 10px;
	border-radius: 30px;
	box-shadow: -10px 10px 5px gray;

}
 
h1 {
	max-width: 90%;
	margin: 5px 10px;
	border: 1px solid red;
	border-radius: 15px;
	background-color: #0099ff;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	font-family: arial;
	letter-spacing: 12px;
	text-align: center;
	box-shadow: -5px 5px 5px gray;

}

h2 {
	margin: 10px 5px;
	border: 1px solid red;
	padding: 10px;
	font-variant: small-caps;
	font-size: large;
	border-radius: 15px;
	background: #0099ff;

}

li {
	margin: 10px 15px;
	padding: 5px;
	font-family: "Lucida Grande";
	line-height: 1.5em;
	background-color: white;
	list-style-type: none;

}

h3 {
	margin: 10px 5px;
	border: 1px solid red;
	padding: 10px;
	font-variant: small-caps;
	font-size: x-large;
	border-radius: 15px;
	background: #0099ff;

}

legend {
	font-family: tahoma;
	font-size: x-large;
	color: red;	
}
